<script>
  function draw_result(re){
    $("#msg").text(re.responseJSON.message)
  }

  function click_bt(){
    Util.postAjax({
      url: "http://localhost:3000/api/v0/users",
      data: {id: 3},
      success: draw_result,
      error: draw_result,
    });
  }
</script>

<div id="content">
  <input type="button" onclick="click_bt()" value="click me">
  <p id="msg"></p>
</div>