<% provide :page_title, "Home" %>
<script>
  function draw_result(re){
    var show = null;
    if(re.responseJSON){show = re.responseJSON.message;}
    else{show = re.message;}
    $("#msg").text(show)
    console.log(show)
  }

  function submit(){
    Util.postAjax({
      url: "http://localhost:3000/api/v0/users",
      data: {
        username: document.getElementsByName("username")[0].value,
        email: document.getElementsByName("email")[0].value,
        password: document.getElementsByName("password")[0].value,
        password_confirmation: document.getElementsByName("password_confirmation")[0].value,
      },
      success: draw_result,
      error: draw_result,
    });
  }

  function check(){
    dat = {
      username: document.getElementsByName("username")[0].value,
      email: document.getElementsByName("email")[0].value,
    };
    Util.postAjax({
      url: "http://localhost:3000/api/v0/checkusername",
      data: dat,
      success: draw_result,
      error: draw_result,
    });
    Util.postAjax({
      url: "http://localhost:3000/api/v0/checkemail",
      data: dat,
      success: draw_result,
      error: draw_result,
    });
  }
</script>

<div id="content">

  <%= if logged_in?; "You have logged in as: #{current_user.name}<hr>".html_safe; end %>

  <%=
    if false
    %{
      User Name: <input type="text" name="username"><br>
      <br>
      Email: <input type="text" name="email"><br>
      <br>
      Passowrd: <input type="text" name="password"><br>

      <br>
      <input type="button" onclick="submit()" value="Create">
      <input type="button" onclick="check()" value="Check">
    }
    end
  %>

 <form action="/api/v0/users" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  Real Name: <input type="text" name="realname"><br>
  <br>
  Username: <input type="text" name="username"><br>
  <br>
  Phone Number: <input type="text" name="phone"><br>
  <br>
  Email: <input type="text" name="email"><br>
  <br>
  Password: <input type="text" name="password"><br>
  <br>
  Password Confirmation: <input type="text" name="password_confirmation"><br>
  <br>
  <label><input type="checkbox" name="roles" value="1">Passenger</label>
  <label><input type="checkbox" name="roles" value="2">Driver</label>
  <br>
  <input type="submit" value="Submit">
  <input type="button" onclick="check()" value="Check">
  </form>

  <p id="msg"></p>
</div>
