html, body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*disabled*/
nav ul.level_2 {
  display: none;
  position: absolute;
}

/*disabled*/
nav .level_1>li:hover ul.level_2 {
  display: block;
}

.textForm {
  margin-top: 8vh;
}

.card {
  padding-top: 2vh;
}

.eventThrow {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.eventReview {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.eventApply {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.eventFinish {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.myEvent {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.eventList {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.accountManagement {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.setting {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.tutorial {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.notification {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.message {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.chat {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.chatroom {
  margin:auto;
  padding-left: 2vh;
  padding-right: 2vh;
}

.chatroomShow {
  margin:auto;
  height: 50vh;
}

.chatroomTitle {
  font-size: 24px;
}
