html, body{
	height: 100%;
}

body{
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav ul.level_2{
  display: none;
  position: absolute;
}

nav .level_1 > li:hover ul.level_2{
  display: block;
}

.login{
	margin-top:10%;
}

.register{
	margin-top: 10%;
}

.parallax-container {
		height: 800px;
	}
