<% provide :page_title, "Reset Password" %>

<div class="container">

  <div class="mt-4 mb-0 p-2">
    <h2 class="text-center">HiGoDrive</h2>
    <img id="motor" class="rounded mx-auto d-block" src=<%= image_url 'motorcycle-solid.svg' %> type="image/svg+xml" />
    <hr>
  </div>

  <%= form_tag '/api/v0/resetpassword' do %>
    <input type="hidden" class="form-control" id="token" name="token" required>
    <input type="hidden" class="form-control" id="username" name="username" required>
    <div class="form-group">
      <label for="password">新密碼</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="password_confirmation">請再次輸入新密碼</label>
      <input type="password" class="form-control" id="password_confirmation" name="password_confirmation"
        required>
    </div>
    <br>
    <br>
    <div class="px-5 py-3">
      <button type="submit" class="btn btn-success btn-lg btn-block">確認</button>
    </div>
  <% end %>

</div>

<script>
  $(document).ready(function() {
    let urlParams = new URLSearchParams(window.location.search);
    let username = urlParams.get('username');
    let token = urlParams.get('token');
    $("#username").val(username);
    $("#token").val(token);
  });
</script>
